.hero h1 {
    font-size: 50px;
}

.hero code {
    color: #3c763d;
    background-color: #dff0d8;
}

.last-action {
    position: relative;
}

.last-action-enter {
    position: relative;
    top: -30px;
    opacity: 0.01;
    transition: all .1s ease-in;
}

.last-action-enter.last-action-enter-active {
    position: relative;
    top: 0;
    opacity: 1;
}


.tree-event-alert {
    font-size: 18px;
}

.tree-event-alert strong {
    font-size: 22px;
}
